[user]
        name = 
        email = 
[init]
        defaultBranch = main
[core]
        editor = nvim
[diff]
        tool = kdiff3
#[difftool "kdiff3"]
#       path = "/Applications/kdiff3.app/Contents/MacOS/kdiff3"
[merge]
        tool = kdiff3
[alias]
        lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
        st = status
        co = checkout
        ci = commit -m
        psu = push --set-upstream origin
        orig = clean -f *.orig